{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'landing' %}">
            <img class="logo" src="{% static "img/logo.svg" %}">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'current_term'  'best' %}">Best Classes</a></li>
        <li><a href="{% url 'current_term' 'layups' %}">Layups</a></li>
        <li><a href="{% url 'recommendations' %}">Recommendations</a></li>
        <li><a href="{% url 'departments' %}">Browse</a></li>
        {% if request.user.is_staff %}
            <li><a href="{% url 'analytics_home' %}">Analytics</a></li>
        {% endif %}
      </ul>
        <ul class="nav navbar-nav navbar-right">
            
            <form class="navbar-form navbar-left" action="{% url 'course_search' %}" method="get" role="search">
                <div class="form-group" style="display: flex;">
                    <div class="input-group" style="display: flex; padding-right: 10px; align-items: center;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Select Search Type
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <input name= "searchselect" type="radio" id="coursesearch" class="searchradio" value="courses" checked>
                                <label for="coursesearch">Search Courses</label><br>
                                <input name= "searchselect" type="radio" id="profsearch" class="searchradio" value="profs">
                                <label for="profsearch">Search Professors</label>
                            </ul>
                        </li>
                    </div>
                    <div class="input-group">
                        <input name="q" type="text" class="form-control" id="navbarsearch" placeholder="Course Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
                        </span>
                    </div>
                </div>
            </form>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>
